<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>inkscape tree export</title>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

        <div class="container-fluid">
            <div class="header">
                <h3 class="text-muted">inkscape tree export</h3>
            </div>
            <div class="row navbar">
                <div class="col-lg-2">
                    <h4>Wireframe navigation</h4>
                    <ul class="nav nav-pills nav-stacked">
                       <li role="presentation">
                            <a href="#">Home</a>
                        </li>
                        <li role="presentation">
                            <a href="#">User Profile</a>
                            <ul class="nav nav-stacked nav-child">
                                <li role="presentation">
                                    <a href="#">User Profile Not Logged</a>
                                    </li>
                                <li role="presentation">
                                    <a href="#">User Profile Logged</a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation">
                            <a href="#">Profile</a>
                        </li>
                        <li role="presentation">
                            <a href="#">Messages</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10">
                    <ol class="breadcrumb">
                        <!-- This should be the Url -->
                        <li>https://unsplash.com/photos/6g0KJWnBhxg/download</li>
                        <!-- This should be the layer name -->
                        <li class="active">User Profile Logged</li>
                    </ol>
                    <img src="https://unsplash.com/photos/6g0KJWnBhxg/download" class="img-responsive" alt="Responsive image">
                </div>
            </div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
